.container {
    display: flex;
    flex-direction: column;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    button {
        padding: 10px;
        font-size: 16px;
        background-color: lightblue;
        border: none;
        border-radius: 10px;

        margin: auto;
        margin-top: 10px;
    }

    button:hover {
        transform: scale(1.1);
    }

    button:active {
        transform: scale(0.9);
    }
}

.inputDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;

    label {
        margin-right: 10px;
    }

    input {
        margin-left: 10px;
        padding: 10px;
        border-radius: 10px;
        border-style: solid;
        border-color: white;
    }

}